@media only screen and (min-width: 720px) {
.body{
    background-color: brown;
}
}

@media only screen and (max-width: 720px) {
.home-main{
    flex-direction: column;
    height: auto;
    padding: 1.2em;
}
.main-pro{
    display: flex;
    flex-direction: column;
    height: auto;
    row-gap:2em;
}
.abt-flex{
    flex-direction: column;
    padding: 1.2em;
    align-items: center;
    gap: 2em;
}
.abt-flex2{
    flex-direction: column;
    padding: 1.2em;
}
.abt-text-sub{
    gap: 0;
}
.cnt-flex{
    flex-direction: column;
    padding: 1.2em;
}
.footer-flex{
    flex-direction: column;
}
.links{
    width: auto;
    padding: 0%;
}
.pro-text{
    padding: 0%;
}
}