@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;350;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family:'Heebo', sans-serif;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 8%;
}
.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 200;
}
.nav-ele{
    min-width: 28em;
}
.home-main{
    display: flex;
    justify-content: space-around;
    height: 75vh;
    align-items: center;
    position: relative;
}
.image{
    width: 100%;
    max-width: 350px;
    max-height: 700px;
    height: auto;
    margin-right: 4em;
}
.dark-moon{
    background-color: black;
    border-radius: 50%;
}
.main-text{
   padding-top: 18%;
}
.fst-line {
    font-weight: 500;
}
.fst-line span{
    font-weight: 100;
}
.snd-line{
    font-weight: 900;
    font-size: 2.5rem;
}
.thd-line{
    font-size: 0.9rem;
}
.links{
    width: 22.5em;
    display: flex;
    justify-content: space-around;
    padding-left: 5.8em;
}
.scroll{
    display: flex;
    height: 4.5em;
    justify-content: center;
    align-items: center;
}

/* ////////////////////////// */
 
.projects{
    height: 100vh;
}
.pro-text{
    padding: 0.5em 0 1em 0;
}
.pro-text-main{
    padding-left: 2.7em;
    font-weight: 900;
    font-size: 2.5rem;
}
.pro-text-sub{
    padding-left: 6.8em;
    font-weight:400;
}
.main-pro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0% 8%;
    row-gap: 5%;
    column-gap: 20%;
}
.grid-name-main{
    font-weight: 800;
}
.grid-name-sub{
    font-weight: 300;
    font-size: 10px;
}
.grid-button{
    display: flex;
    flex-direction: row;
    max-width: 22em ;
    flex-grow: 2;
    padding-top: 0.5em;
    gap: 0.7em;
}
.button1{
    flex-grow: 1;
    background-color: white;
    border-style: none;
    border: 1px solid black;
    padding: 1px;
}
.button2{
    flex-grow: 1;
    background-color: white;
    border-style: none;
    border: 1px solid black;
    font-weight: 300;
}

/* /////////////////////////////// */

.aboutme{
    height: 100vh;
}
.pro-text-mains{
    padding-left: 2.5em;
    font-weight: 900;
    font-size: 2.5rem;
}
.pro-text-subs{
    padding-left: 7em;
    font-weight:400;
    font-size: 0.9rem;
}
.abt-flex{
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
    max-width: 72em;
}
.abt-text{
    max-width: 38em;
    font-size: 12px;
    font-weight: 400;
}
p > span{
    font-weight: 900;
}
.abt-flex2{
    display: flex;
    justify-content: space-around;
    padding-top: 3em;
    max-width: 72em;
    gap: 7em;
}
.abt-text-sub{
    display: flex;
    padding-top: 1.5em;
    gap: 4em;
}
.abt-text-sub12{
    padding-top: 1em;
}
.abt-text-sub22{
    display: flex;
    padding-top: 1em;
    gap: 1em;
}
.abt-test2{
    font-family: 'Grape Nuts', cursive;
    font-size: 26px;
}
.abt-test2-sub{
    font-family:'Heebo', sans-serif;
    font-size: 11px;
    margin-left: 68%;
}

/* /////////////////////////////// */

.contact{
    height: 100vh;
    padding-top: 5em;
}
.pro-text-subss{
    font-size: 0.9em;
}
.cnt-flex{
    display: flex;
    justify-content: space-around;
    max-width: 73em;
}
.cnt-name{
    font-size: 0.8em;
    font-weight: 500;
}
.label-name-text{
    width: 28em;
    height: 2em;
    border: 1px solid black;
}
.label-name-msg{
    width: 28em;
    height: 7em;
    border: 1px solid black;
}
.label-btn{
    background-color: white;
    border-style: none;
    border: 1px solid black;
    padding: 0.3em 3em 0.3em 3em;
    margin-left: 43%;
}
.label-padin{
    padding-top: 1em;
}

/* /////////////////////////////////////////////// */

footer{
    width: 100%;
    height: 90px;
    background-color: #1D1D1E;
}

.footer-flex{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.footer-socials{
    display: flex;
    gap:1.5em;
}